:root {
  --standard-border-radius: 25px;
  --accent: rgb(50, 50, 50);
  --accent-hover: rgb(97, 97, 97);
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(247, 245, 241);
  margin: auto;
  text-align: center;
}

body {
  margin-left: 0;
  margin-right: 0;
  max-width: max-content;
  margin: auto;
}


ol{
  display: inline-block;

}

li {
  text-align: left;
}

h1 {
  font-size: 3.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.question-image {
  max-height: 350px;
  border-radius: var(--standard-border-radius);
}

.bird-name {
  font-size: larger;
}

footer {
  margin-top: 10vh;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: larger;
  margin: 0.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  width: 150px;
  display: inline-block;
  border: 1px solid silver;
  background-color: var(--accent);
  color: white;
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  line-height: normal;
}

.button:focus-visible,
button:focus-visible:where(:enabled) {
  outline: 2px solid var(--accent);
  outline-offset: 1px;
}

button:enabled:hover,
.button:not([aria-disabled="true"]):hover {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
  cursor: pointer;
}

.fade-in {
  opacity: 1;
  animation-name: fadeOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.hide {
  visibility: hidden;
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

