:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(247, 245, 241);

  margin: auto;
  text-align: center;
}

body {
  margin-left: 0;
  margin-right: 0;
  max-width: max-content;
  margin: auto;
}

ol {
  list-style-type: decimal;
}

li {
  text-align: left;
}

h1 {
  font-size: 3.2em;
}

.question-image {
  max-height: 350px;
  border-radius: 25px;
}

.bird-name {
  font-size: larger;
}


footer {
 margin-top: 10vh;
}


button {
  background-color: rgb(70, 70, 70);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}


.fade-in {
  opacity: 1;
  animation-name: fadeOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.hide {
  visibility: hidden;
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
